@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center" id="Sarah">
    <h1 class="display-4" >Welcome</h1>
    <p> what are going to do? </p>
</div>
<div>
    <ul>
        <li>
            <a class="btn"asp-area="" asp-controller="Home" asp-action=""> Send News SMS</a>
        </li>
        <li>
            <a class="btn"> Send MT SMS</a>
        </li>
    </ul>
</div>
