@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center" id="Sarah">
    <h1 class="display-4">Welcome</h1>
    <p> what are going to do? </p>
</div>
<div>
    <ul>
        <li>
            <a class="btn" asp-area="" asp-controller="Home" asp-action=""> You can Send Mt SMSs</a>
        </li>
        </ul>
    </div>
